include navBar.pug
html
    head
        link(rel='stylesheet' type='text/css' href='css/MMDashboard.css')


    body.background
        +navBarSend(username)
        h2.recMovies Top Stats
        .grid
            div
                span.movieImgSpan(style="padding: 5px; display:inline-block;")
                    img.movieImg(src="images/" + movieMostViewed.movieImageName)
                a(href= "movieStats?" + movieMostViewed.movieName)
                    span.movieTitle= movieMostViewed.movieName + " " 
                br
                span.statTitle= "Most Viewed Movie"
                br
                span= movieMostViewed.viewCount + " Views" 
                br
                span= movieMostViewed.likes + " Likes "
                br
                span= movieMostViewed.dislikes + " Dislikes"
            div
                span.movieImgSpan(style="padding: 5px; display:inline-block;")
                    img.movieImg(src="images/" + movieMostLiked.movieImageName)
                a(href= "movieStats?" + movieMostLiked.movieName)
                    span.movieTitle= movieMostLiked.movieName + " " 
                br
                span.statTitle= "Most Liked Movie"
                br
                span= movieMostLiked.viewCount + " Views" 
                br
                span= movieMostLiked.likes + " Likes "
                br
                span= movieMostLiked.dislikes + " Dislikes"
            div
                span.movieImgSpan(style="padding: 5px; display:inline-block;")
                    img.movieImg(src="images/" + movieMostDisliked.movieImageName)
                a(href= "movieStats?" + movieMostDisliked.movieName)
                    span.movieTitle= movieMostDisliked.movieName + " " 
                br
                span.statTitle= "Most Disliked Movie"
                br
                span= movieMostDisliked.viewCount + " Views" 
                br
                span= movieMostDisliked.likes + " Likes "
                br
                span= movieMostDisliked.dislikes + " Dislikes"
        h2.recMovies Movie Dashboard
        .grid
            for movie, i in movieList
                div
                    span.movieImgSpan(style="padding: 5px; display:inline-block;")
                        img.movieImg(src="images/" + movie.movieImageName)
                    a(href= "movieStats?" + movie.movieName)
                        span.movieTitle= movie.movieName + " " 
                    br
                    span= movie.viewCount + " Views" 
                    br
                    span= movie.likes + " Likes "
                    br
                    span= movie.dislikes + " Dislikes"