doctype html
include navBar.pug
html
  head
    style.
        .background{
            background-color: #d3d3d3;
        }

        .grid {
            width: 60%;
            margin: 0 auto;
            margin-top: 30px;
            background-color: #d3d3d3;
            display: flex;
            font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
            font-weight: 500;
            justify-content: space-evenly;;
            flex-wrap: wrap;
            padding: 0 30px;
        }

        .movieImageDiv{
            width: 15%;
            min-width: 300px;
            height: 450px;
            box-shadow: 0px 5px 5px rgb(10, 10, 10, .45);
        }

        .movieTitleDiv{
            margin-right: 20px;
            font-size: 45px;
        }

        .movieRatingDiv{
            
        }

        .rating, .year, .time {
            padding: 5px;
            
        }

        

        .description{
            
        }

        .genre{
            padding: 5px;
            color: white;
            border-radius: 10px;
            margin-right: 10px;
            background-color: rgb(52,58,64);
            text-align: center;
        }

        .playBtn{
            backface-visibility: hidden;
            background-color: #405cf5;
            border-radius: 6px;
            border-width: 0;
            box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
            box-sizing: border-box;
            color: #fff;
            cursor: pointer;
            font-size: 90%;
            height: 35px;
            line-height: 1.15;
            margin: 6px 6px 0;
            outline: none;
            overflow: hidden;
            padding: 0 25px;
            position: relative;
            text-align: center;
            text-transform: none;
            transform: translateZ(0);
            transition: all .2s,box-shadow .08s ease-in;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
            display: inline-block;
            width: 100px;
        }

        .infoDiv{
            width: 70%;
        }

  body.background
    +navBarSend(username)
    .grid
        div.movieImageDiv(style= "background: url(images/" + movieImageName + "); background-repeat: no-repeat; background-size: cover;")
        div.infoDiv    
            div.movieTitleDiv #{movieName}
            div.movieRatingDiv
                br
                a(href= "play-movie?" + movieName)
                    button.playBtn Play
                br
                br
                span.year #{releaseYear} |
                span.time #{runtime} mins |
                span.rating #{rating}
                br
                br
                for cat, i in category
                    span.genre #{cat} 
                br
                br
                span.description #{description}
    include footer.pug
